
*{
	box-sizing: border-box;
	outline: 1px solid green;

	background-size: cover;
	background-attachment: fixed;
	background-size: cover; 
	
}
body h1{
	color: white;
}
button{
	background-color: red;
	margin: 0px;
	padding:0px;
}

.botones{
	position: absolute;
	bottom: 0px;
	margin-left: 0px auto;
	margin-right: 0px auto;
	left: 0px;
	right: 0px;
}